<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>How to learn python?</h1>
        <section>
            <p>I'm that guy who's <span class="code">always</span> tinkering with ideas and making stuff. My projects are abstract thoughts transformed into tangible digital creations..</p>
            <div class="code">
                <p>
                    number = 2 + 2 <br>
                    print(number) <br>
                    <br>
                    >>> 4
                </p>
            </div>
        </section>
        <section class="split">
            <section>
                <p>I don't know what to say about this, so this nonsense is only in template. Also i like pizza. Eat more potatoes, so you can run faster. Please don't take this text too serious</p>
                <div class="code">
                    <p>
                        nonsense = "please", "don't", "read this text" <br>
                        print(nonsense + '69') <br>
                        <br>
                        >>> please don't read this nonsense69
                    </p>
                </div>
            </section>
            <img src="https://cdn.discordapp.com/attachments/1218948198110986502/1234658363619414027/image.png?ex=663188b4&is=66303734&hm=c9173789b587c35fc8b901afaa15659a436d5b0fb336322226ba7da4ae942587&" alt="">
        </section>

        <script src="" async defer></script>
    </body>
</html>