@import url("https://Cinnab0nBak3ry.github.io/AppleFontsCSS/Apple-fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter";
    overflow-wrap: break-word;
    color: #DBDEE1;
    text-rendering: geometricPrecision;
    text-transform: none !important;
    letter-spacing: 0.015em;
    line-height: 1.75;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  /* font-weight: bold !important; */
}

*::selection {
    background: rgba(144, 144, 255, .25);
}

html {
    background: #131212;
}

main {
    margin: 0 auto;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1 {
    text-align: center;
    margin: 15px 0 15px;
}

h2, h3 {
    text-align: center;
}

.sub {
    font-weight: 500;
    color: #80848E;
    margin-top: -15px;
    letter-spacing: .1em;
}

button {
    all: unset;
    font-family: -apple-system,BlinkMacSystemFont,"SF Pro Display",sans-serif;
    text-align: center;
    width: 300px;
    padding: 20px 10px;
    background: #796DA5;
    border-radius: 10px;
    color: #EdEFF1;
    text-shadow: #ffffff96 0 0 30px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 20px;
    margin: 0 auto;
    transition: .5s;
}

button:hover {
    box-shadow: inset #ffffff20 1000px 1000px, #ffffff40 0 0 100px;
}

p {
    font-size: 16px;
}

.code {
    font-family: "SF Mono";
    font-weight: 400;
    background: #191818;
    border: solid #4E4E4F 1px;
    padding: 5px;
    border-radius: 10px;
}

.code * {
    font-family: "SF Mono";
    font-weight: 400;
}

span.code {
    text-wrap: nowrap;
}

section {
    /* margin: 25px 0 25px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.split {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

img {
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 10px;
    margin-top: 25px;
    background: #1E1D1D;
    width: 100%;
    border-top: solid #4E4E4F 1px;
    padding: 10px;
}

footer * {
    color: #80848E;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100svh;
}

@media (max-width: 740px) {
    main {
        margin: 0 10px;
    }
}

@media (max-width: 620px) {
    .split {
        flex-direction: column;
    }
}